[Unit]
Description=MergerFS Daemon
Requires=rclone.service
After=rclone.service

[Service]
Type=forking
ExecStart=/usr/bin/mergerfs /mnt/Downloads:/mnt/Cloud /mnt/MergerFS -o use_ino,cache.files=off,dropcacheonclose=true,allow_other,category.create=mfs
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
