[Unit]
Description=UnionFS Movie
AssertPathIsDirectory=/mnt/UnionMovie
After=network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/unionfs -o cow,allow_other,nonempty /mnt/OneDrive/Media/Movies/=RW:/home/pi/Movies/=RO /mnt/UnionMovie
ExecStop=/bin/fusermount -u /mnt/UnionMovie
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
